<!-- <div class="card-container">
    <div class=" card-small titles">
        <app-titles></app-titles>
    </div>

    <div class=" card-small titleButton">
        <app-title-button></app-title-button>
    </div>

    <div class=" card-small ">+
    </div>
    <!-- <app-bhavanichallenge></app-bhavanichallenge> -->

<div class="card-container">
    <div class=" card-small titles">
        <div class="circleOne"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleTwo"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleTree"></div>
    </div>
</div>
<div class="card-container">
    <div class=" card-small titles">
        <div class="circleFour"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleFive"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleSix"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleSeven"></div>
    </div>
</div>
<div class="card-container">
    <div class=" card-small titles">
        <div class="circleEgth"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleNine"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleTree"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleTree"></div>
    </div>
</div>
<div class="card-container">
    <div class=" card-small titles">
        <div class="circleEgth"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleNine"></div>
    </div>
    <div class=" card-small titles">
        <div class="circleTree"></div>
    </div>
</div>